
body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    font-weight: 400;
    font-size: 15px;
    overflow-y: scroll;
    background: beige;
}
section{
	display: block;
}
a{
	color: #ddd;
	text-decoration: none;
}
.wrapper{
	width: 100%;
	position: relative;
	text-align: center;
    padding-top: 15%;
}

.img-wrapper{
	width: 100%;
	height: 450px;
	position: relative;
}
.imgBox {
    width: 90%; /* Cambiado a una unidad relativa */
    max-width: 600px; /* Establecido un ancho máximo */
    margin: 0 auto; /* Centrado horizontal */
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 10px;
    -moz-perspective: 10px;
    -o-perspective: 10px;
    -ms-perspective: 10px;
    perspective: 10px;
}
.imgBox a {
    width: 100%; /* Cambiado a una unidad relativa */
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.imgBox a.bx-animate{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.imgBox a img {
    display: block;
    width: 100%;
    height: auto; 
}
.imgBox a div{
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 16px;
	width: 100%;
	bottom: -12px;
	display: none;
	position: absolute;
}
.imgBox a.dg-center div{
	display: block;
}